/* body{
    background-color: lightgrey;
    background-image: url("../images/background-image.jpg");
} */

body{
    background-color: lightgrey;
    background-image: url("/assets/images/background-img.jpg");
}
h2 {
    color: orangered;
}